:root{
    --text-color: #002b36;
    --background-color: #ffffff ;
}


body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
}

h1 {
    
    font-size: 7em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--text-color);
    font-family: Inconsolata;
}


div{
    font-size: 4em;
    font-family: Inconsolata;
    text-align: center  ;
}
div2{
    font-size: 2em;
    font-family: Inconsolata;
    color: var(--text-color);
    
       
}
div3{
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}
div4{
    font-family: Inconsolata;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;

}

p{
    margin: 0;
    padding: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-0%);
    text-align: center;
    position: absolute;
}

a:link, a:visited {  
    font-family: Inconsolata;
    border: none;
    color: var(--text-color);
    padding: 15px 60px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 50px;
   cursor: pointer;
   display: inline-block;
}
a:hover, a:active{
    background-color: var(--background-color);
}
